AUTH_API_URL=http://127.0.0.1:5000
VENTES_API_URL=http://127.0.0.1:5010
NEXT_PUBLIC_AUTH_API=http://127.0.0.1:5000
NEXT_PUBLIC_AUTH_API_AUTH_DOMAIN=http://localhost:3001
NEXT_PUBLIC_WORKSPACE_DOMAIN=http://localhost:3005
VENTES_APP_URL=http://localhost:3011
NETWORK_ENCRYPTION=clear
NEXT_PUBLIC_NETWORK_ENCRYPTION=clear
NETWORK_ENCRYPTION_KEY=
NEXT_PUBLIC_NETWORK_ENCRYPTION_KEY=
