AUTH_API_URL=http://127.0.0.1:4999
NEXT_PUBLIC_AUTH_API=http://127.0.0.1:5000
NEXT_PUBLIC_AUTH_API_AUTH_DOMAIN=http://localhost:3001
NEXT_PUBLIC_WORKSPACE_DOMAIN=http://localhost:3005
WORKSPACE_DOMAIN=http://localhost:3005
NEXT_PUBLIC_AUTH_API_APPROVAL_FLOWS_DOMAIN=http://localhost:3006
HR_API_URL=http://127.0.0.1:5001
GRAPHQL_API_URL=http://127.0.0.1:5002
APPROVAL_FLOWS_API_URL=http://127.0.0.1:5005
#NETWORK_ENCRYPTION=clear
NETWORK_ENCRYPTION=encrypted
NETWORK_ENCRYPTION_KEY=changeMe
NEXT_PUBLIC_NETWORK_ENCRYPTION=encrypted
#NEXT_PUBLIC_NETWORK_ENCRYPTION=clear
NEXT_PUBLIC_NETWORK_ENCRYPTION_KEY=changeMe
